*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 10px;
}

p,li{
    font-family: 'Signika', sans-serif;
}

h1,h2{
    font-family: 'Kaushan Script', cursive;
}
/* header */
header{
    background-color: black;
    color: #c99f34;
    font-size: larger;
    display: flex; 
    /* padding: 5px; */
    justify-content: space-between;
    align-items: center;
}

header figure{
    width: 10%;
}
header figure img{
    width: 100%;
    border: 1px solid #c99f34;
}
    header ul {
    list-style:none;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
header li a {
    color: #c99f34;
    font-size: larger;
    text-decoration: none;
    margin-left: 20px;
}
.fa-bars{
    display: none;
}
nav i{
    margin-left: 20px;
    color: #c99f34;
}

header li :hover{
    color: white;
}

nav a :hover{
    color:white;
}

h1, h3{
    margin: 15px 0 15px 0;
}


/* footer */
footer{
    background-color: black;
    bottom: 0;
    width: 100%;
}
footer .social-media-icons{
    font-size: larger;
    display: flex;
    justify-content: center;
    padding: 20px;
}
footer .social-media-icons a{
    text-decoration: none;
    color: #c99f34;
    font-size: larger;
    margin-left: 10px;
}
 footer .rgpd li {
    text-align: center;
}
footer .rgpd li a {
    color: #c99f34;
    font-size: larger;
    text-decoration: none;
}

/* mobile version */
@media only screen and (max-width:767px){
    header {
        flex-direction: column;
        align-items: unset;
        padding: 15px 0 15px 0;

    }

    header figure{
        width: 21%;
    }
    header ul{
        flex-direction: column;
        width: 100%;
    }

    header li a {
        margin-left: 0;
    }
    nav i {
        margin-left: 0;
    }

    .fa-bars{
        display: block;
        position: absolute;
        right: 24px;
        top: 24px;
        color: #c99f34;
        font-size: 30px;
    }
     
}