*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, li{
    font-family: 'Signika', sans-serif;
}

h1,h2{
    font-family: 'Kaushan Script', cursive;
}
/* header */
header{
    background-color: black;
    color: #c99f34;
    font-size: larger;
    display: flex; 
    /* padding: 5px; */
    justify-content: space-between;
    align-items: center;
}

header figure{
    width: 10%;
}
header figure img{
    width: 100%;
    border: 1px solid #c99f34;
}
    header ul {
    list-style:none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header li a {
    color: #c99f34;
    font-size: larger;
    text-decoration: none;
    margin-left: 20px;
}
.fa-bars{
    display: none;
}
nav i{
    margin-left: 20px;
    color: #c99f34;
}

header li :hover{
    color: white;
}

nav a :hover{
    color:white;
}

nav input{
    width: 10%;
    background-color: black;
    color: white;
    border: none;
}

/* footer */
footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer .social-media-icons{
    font-size: larger;
    display: flex;
    justify-content: center;
    padding: 20px;
}
footer .social-media-icons a{
    text-decoration: none;
    color: #c99f34;
    font-size: larger;
    margin-left: 10px;
}
 footer .rgpd li {
    text-align: center;
}
footer .rgpd li a {
    color: #c99f34;
    font-size: larger;
    text-decoration: none;
}


.Produits{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

h1{
    font-size: 36px;
}

h2{
    font-size: larger;
}

.Produits figure{
    width: 100%;
    margin: 64px 0 0 10px;
    transition: transform .2s;
}

.Produits figure :hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.Produits img{
    width: 100%;
    
}

.nom-produit{
    margin: 38px 0 0 50px;

}

.Produits ul {
    list-style: none;
}
.Produits a{
    width: 30%;
}

.Produits button,input {
    cursor: pointer;
    background-color: black;
    padding: 10px;
    margin-left: 5px;
    color: white;
}

.Produits a :hover {
    background-color: #c99f34;
    color: black;
}
input.button[type="submit"]:hover {
    background-color: #c99f34;
    color: black;
}

/* mobile version */
@media only screen and (max-width:767px){
    header {
        flex-direction: column;
        align-items: unset;
        padding: 15px 0 15px 0;

    }
    header figure{
        width: 21%;
    }

    header ul{
        flex-direction: column;
        width: 100%;
    }

    header li a {
        margin-left: 0;
    }
    nav i {
        margin-left: 0;
    }

    .fa-bars{
        display: block;
        position: absolute;
        right: 24px;
        top: 24px;
        color: #c99f34;
        font-size: 30px;
    }

    .Produits {
        flex-direction: column;
    }

    .nom-produit {
        margin: 0;
    }

    .Produits a {
        padding-top: 0;
        margin: auto;
        display: grid;
    }

    footer{
        position: inherit;
    }
     
}